body {
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
}

.mainsection {
  margin-top: 2rem;
  padding: 20px;
}

.mainheader {
  text-align: center;
  line-height: 1.25rem;
  font-size: 1.5rem;
}

.headersection1 {
  color: hsl(231, 6%, 54%);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.headersection2 {
  color: hsl(234, 12%, 34%);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.mainparagraph {
  text-align: center;
  font-size: 1rem;
  color: hsl(229, 6%, 66%);
  font-family: 'Poppins', sans-serif;
  max-width: 34.375rem;
  margin-bottom: 4.688rem;
  margin: auto;
}

.itemheader1 {
  color: hsl(234, 12%, 34%);
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
}

.divitem1 {
  border-top: solid 0.3rem hsl(180, 62%, 55%);
  margin-top: 2rem;
  border-radius: 0.625rem;
  box-shadow: rgba(44, 66, 70, 0.25) 0 0.813rem 4.688rem -.313rem, rgba(59, 234, 240, 0.3) 0 .5rem 1rem -.5rem;
  padding: 1.2rem;
}

.divitem1:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.itemparagraph1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(229, 6%, 66%);
  margin: .7rem 0 0 0;
}

.itemicon1 {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.875rem;
}

.itemheader2 {
  color: hsl(234, 12%, 34%);
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
}

.divitem2 {
  border-top: solid 0.3rem hsl(0, 78%, 62%);
  ;
  margin-top: 2rem;
  border-radius: 0.625rem;
  box-shadow: rgba(73, 15, 42, 0.25) 0 0.813rem 4.688rem -.313rem, rgba(172, 38, 132, 0.3) 0 .5rem 1rem -.5rem;
  padding: 1.2rem;
  ;
}

.divitem2:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.itemheader2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.itemparagraph2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(229, 6%, 66%);
  margin: .7rem 0 0 0;
}

.itemicon2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.875rem;
}

.itemheader3 {
  color: hsl(234, 12%, 34%);
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
}

.divitem3 {
  border-top: solid 0.3rem hsl(34, 97%, 64%);
  margin-top: 2rem;
  border-radius: 0.625rem;
  box-shadow: rgba(90, 77, 3, 0.25) 0 0.813rem 4.688rem -.313rem, rgba(240, 197, 6, 0.3) 0 .5rem 1rem -.5rem;
  padding: 1.2rem;
}

.divitem3:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.itemheader3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.itemparagraph3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(229, 6%, 66%);
  margin: .7rem 0 0 0;
}

.itemicon3 {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.875rem;
}

.itemheader4 {
  color: hsl(234, 12%, 34%);
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
}

.divitem4 {
  border-top: solid 0.3rem hsl(212, 86%, 64%);
  margin-top: 2rem;
  border-radius: 0.625rem;
  box-shadow: rgba(25, 19, 110, 0.25) 0 0.813rem 4.688rem -.313rem, rgba(20, 104, 230, 0.3) 0 .5rem 1rem -.5rem;
  padding: 1.2rem;
}

.divitem4:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  transform: scale(1.01);
}

.itemheader4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.itemparagraph4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(229, 6%, 66%);
  margin: .7rem 0 0 0;
}

.itemicon4 {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.875rem;
}

.attribution {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 0 ;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (min-width: 1131px) {
  .mainsection {
    margin-top: 0;
    padding: 0;
  }

  .mainheader {
    text-align: center;
    line-height: 1.25rem;
    font-size: 2rem;
  }

  .headersection1 {
    color: hsl(231, 6%, 54%);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  .gridcontainer {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 125px);
    grid-column-gap: 1.25rem;
    justify-content: center;
  }

  .headersection2 {
    color: hsl(234, 12%, 34%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  .mainparagraph {
    text-align: center;
    font-size: 1rem;
    color: hsl(229, 6%, 66%);
    font-family: 'Poppins', sans-serif;
    max-width: 34.375rem;
    margin: 0 auto 0 auto;
  }

  .itemheader1 {
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
  }

  .divitem1 {
    margin-top: 2rem;
    border-radius: 0.625rem;
    box-shadow: rgba(44, 66, 70, 0.25) 0 0.813rem 4.688rem -.313rem, rgba(59, 234, 240, 0.3) 0 .5rem 1rem -.5rem;
    padding: 1.2rem;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .divitem1:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }

  .itemheader1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
  }

  .itemparagraph1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: hsl(229, 6%, 66%);
    margin: .7rem 0 0 0;
  }

  .itemicon1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.875rem;
  }

  .itemheader2 {
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
  }

  .divitem2 {
    margin-top: 2rem;
    border-radius: 0.625rem;
    box-shadow: rgba(73, 15, 42, 0.25) 0 0.813rem 4.688rem -.313rem, rgba(172, 38, 132, 0.3) 0 .5rem 1rem -.5rem;
    padding: 1.2rem;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .divitem2:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }

  .itemheader2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
  }

  .itemparagraph2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: hsl(229, 6%, 66%);
    margin: .7rem 0 0 0;
  }

  .itemicon2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.875rem;
  }

  .itemheader3 {
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
  }

  .divitem3 {
    margin-top: 2rem;
    border-radius: 0.625rem;
    box-shadow: rgba(90, 77, 3, 0.25) 0 0.813rem 4.688rem -.313rem, rgba(240, 197, 6, 0.3) 0 .5rem 1rem -.5rem;
    padding: 1.2rem;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  .divitem3:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }

  .itemheader3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
  }

  .itemparagraph3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: hsl(229, 6%, 66%);
    margin: .7rem 0 0 0;
  }

  .itemicon3 {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.875rem;
  }

  .itemheader4 {
    color: hsl(234, 12%, 34%);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
  }

  .divitem4 {
    margin-top: 2rem;
    border-radius: 0.625rem;
    box-shadow: rgba(25, 19, 110, 0.25) 0 0.813rem 4.688rem -.313rem, rgba(20, 104, 230, 0.3) 0 .5rem 1rem -.5rem;
    padding: 1.2rem;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .divitem4:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
  }

  .itemheader4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
  }

  .itemparagraph4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: hsl(229, 6%, 66%);
    margin: .7rem 0 0 0;
  }

  .itemicon4 {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.875rem;
  }
}
